IFR/data/*.0 filter=lfs diff=lfs merge=lfs -text
IFT_BCKGRND_72M_6X_QMCLF_07-28-20_08.44_Emission[[:space:]]back[[:space:]]parallel[[:space:]]input_0.015360_80[[:space:]]kHz_6[[:space:]]micron[[:space:]]Mylar_BEB_AVG300.0 filter=lfs diff=lfs merge=lfs -text
IFT_Benzonitrile_0.504[[:space:]]Torr_72M_6X_QMCLF_07-31-20_06.38_Emission[[:space:]]back[[:space:]]parallel[[:space:]]input_0.000960_80[[:space:]]kHz_6[[:space:]]micron[[:space:]]Mylar_BEB_AVG578.0.0 filter=lfs diff=lfs merge=lfs -text
